

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*{
    box-sizing: border-box;
}
body {
    width: 100%;
    padding-bottom: 100px;
  }
.root{
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  